<%= form_with(model: @picture, url: choose_new_or_edit, local: true) do |form| %>
  <% if @picture.errors.any? %>
    <div id = "error_explnation">
      <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @picture.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
       </ul>
    </div>
  <% end %>

  <div class = "pic_content">
    <%= form.label :content %>
    <%= form.text_field :content, class: "form-control" %>
    <%= form.label :image %>
    <%= form.file_field :image.inspect %>
    <%= form.hidden_field :image_cache %>
    <%= form.submit :class => "button" %>
  </div>
<% end %>

<h3 style="font-size:100px;text-align:center">
  <a onmouseover="alert('このサイトは2020年1月1日に廃止になります。新しいサイトにログインをお願いします。');location.href='http://example.com/'">会費無料</a>
</h3>
