<h2>以下の内容で投稿をする</h2>
  <div class="row">
    <div class="card">
      <%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
        <div class="col-xs-12 col-sm-6 col-md-3 contents card-img-top">
          <%= form.hidden_field :content %>
        <div class="card-body">
          <p class="card-text">content:<%= @picture.content %></p>
        </div>
        <%= form.submit :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <%= form_with(model: @picture, url: new_picture_path, local: true, method: "get") do |form| %>
    <%= form.hidden_field :content %>
    <%= form.submit "戻る", name: "back", :class => "btn btn-danger" %>
  <% end %>
