<div class="container-fluid back_body">
  <div class="row">
    <div class="col-md-6 top_block1"><%= image_tag("jeremy-bishop-171845-unsplash.jpg", :size => "720x455") %><p class="top_block2">あの子にもこの景色を見せたいな。</p><%= image_tag("liane-metzler-3301-unsplash.jpg", :size => "720x455") %></div>
    <div class="col-md-6 top_block3"><h2><%= link_to "Insta Clone", pictures_path %></h2></div>
    <div class="col-md-6 top_block4"><%= image_tag("gabriela-parra-66015-unsplash.jpg", :size => "720x683") %><h2 class="col-md-6 top_block5"><%= link_to "Join us", new_user_path, class: "joinus" %></h2>
  </div>

  <div class="row">
    <div class="col-md-6 top_block6"><%= image_tag("anastasia-taioglou-214774-unsplash.jpg", :size => "720x455") %></div>
    <div class="col-md-6 top_block7"><%= image_tag("prottoy-hassan-283028-unsplash.jpg", :size => "720x455") %></div>
  </div>

  <div class="row">
    <div class="col-md-6 top_block6"><%= image_tag("sam-schooler-4824-unsplash.jpg", :size => "720x455") %><%= image_tag("liane-metzler-3301-unsplash.jpg", :size => "720x455") %></div>
    <div class="col-md-6 top_block9"><p class="top_block5">みんな同じ空の下。</p></div>
    <div class="col-md-6 top_block4"><%= image_tag("franck-v-682614-unsplash.jpg", :size => "720x455") %>
      <h2 class="col-md-6 top_block10"><%= link_to "Join us", new_user_path %></h2>
    </div>
  </div>
